
.bubble1 {
  width: 100%;
  max-width: 250px;
  border-radius: 240px;
  background-color: #c1a879;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.bubble2 {
  width: 100%;
  max-width: 250px;
  border-radius: 240px;
  background-color: #b2784d;
  margin: 0 auto;
  padding: 20px;
  font-size: 22px;
  text-align: center;
}
