/* map */

$formBg : none;

.form1 {
    background-color: $formBg;
    margin: 0 auto;
    max-width: 350px;
    min-height: 50px;
    text-align: center;
    width: 100%;
}

input:focus, textarea:focus, select:focus{
       outline: none;
   }

input[type=text] {
  background-color: #dfe7f2;
  border-radius: 24px;
  box-sizing: border-box;
  color: black;
  margin: 8px 0;
  max-width: 350px;
  padding: 12px 20px;
  width: 100%;
}

textarea {
  background-color: #dfe7f2;
  border-radius: 24px;
  box-sizing: border-box;
  color: black;
  margin: 8px 0;
  max-width: 350px;
  padding: 12px 20px;
  width: 100%;
}

input[type=date] {
  background-color: #dfe7f2;
  border-radius: 24px;
  box-sizing: border-box;
  color: black;
  margin: 8px 0;
  max-width: 350px;
  padding: 12px 20px;
  width: 100%;
}

input[type=password] {
  background-color: #dfe7f2;
  border-radius: 24px;
  box-sizing: border-box;
  color: black;
  margin: 8px 0;
  max-width: 350px;
  padding: 12px 20px;
  width: 100%;
}

input[type=text]:focus {
  background-color: lightblue;
}

input[type=number] {
  background-color: #dfe7f2;
  border-radius: 24px;
  box-sizing: border-box;
  color: black;
  margin: 8px 0;
  max-width: 90px;
  padding: 12px 20px;
  width: 100%;
}

input[type=number]:focus {
  background-color: lightblue;
}


// .map {
//   width: 100%;
//   height: 32rem;
// }
