/* map */

#map {
    background-color: #4e4949;
    height: 350px;
    margin: 0 auto;
    max-width: 350px;
    top: 50px;
    width: 100%;
    z-index: 0;
}

.mapBg {
    height: 400px;
    margin: 0 auto;
    max-width: 350px;
    padding: 10px;
    width: 100%;
}

.weatherData {
  font-size: 1.2em;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 350px;
  width: 100%;
}

// .map {
//   width: 100%;
//   height: 32rem;
// }
