/* News project */

.newsMenu {
    background-color: black;
    // display: none;
    height: 0px;
    position: fixed;
    right: 0px;
    text-align: right;
    top: 49px;
    transition: height 1s;
    width: 230px;
    overflow: hidden;
}

.closedNewsMenu {
    height: 0;
}

.openNewsMenu {
    height: 324px;
}

.dropDownBtn2 {
    // background-image: url("../img/icons/news/icons8-news-96.png");
    background-size: 100% 100%;
    width: 65px;
    height: 20px;
    float: right;
    border: none;
    cursor: pointer;
    // display: none;
    background-color: #94365f;
    text-transform: uppercase;
    margin-top: 13px;
    margin-right: 10px;
    border-radius: 240px;
}

.dropDownBtn2:hover {
    color: white;
}

.navNews {
  // border: 2px solid #4CAF50;
  // background-color: #4c3841;
}

.navNews:hover {
  // -webkit-box-shadow: inset 1px 1px 10px #000;
  // -moz-box-shadow:    inset 1px 1px 10px #000;
  // box-shadow:         inset 1px 1px 10px #000;
  // background-color: white;
  // color: black;
}

.activeNews {
  background-color: #2b2727;
  // border: 1px outset #4e4b43;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-shadow: inset 1px 1px 10px #333;
  -moz-box-shadow:    inset 1px 1px 10px #333;
  box-shadow:         inset 1px 1px 10px #333;
}


// /* Fade-in box */
// .dropDownBtn2 {
//     animation: fadein 5s;
//     -moz-animation: fadein 5s; /* Firefox */
//     -webkit-animation: fadein 5s; /* Safari and Chrome */
//     -o-animation: fadein 5s; /* Opera */
// }
