/* Paragraphs */

.paragraphWrap {
    // background-color: #484343;
    margin: 0 auto;
    max-width: 550px;
    height: auto;
    width: 100%;
}

/* Half */
.p1 {
    background-color: #363131;
    border-radius: 24px;
    float: left;
    margin: 1%;
    min-height: 300px;
    padding: 10%;
    width: 48%;
}

/* Full */
.fullP {
    background-color: #363131;
    border-radius: 24px;
    float: left;
    margin-bottom: 2%;
    margin: 0 auto;
    max-width: 650px;
    min-height: 100px;
    padding: 10%;
    width: 100%;
}
