

.higherPPI {
  display: none;
  font-size: 0.5em;
}


.mediumPPI {
  display: block;
  font-size: 0.5em;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  /* Retina-specific stuff here */

  .higherPPI {
    display: block;
  }

  .mediumPPI {
    display: none;
  }

}
