
$navBtmColor: black;

.slide-out {
    animation: moveToRight 1s ease both;
    // animation: slide 1s 1 linear forwards;
    //     -webkit-transition: opacity 3s ease-in-out;
    //     -moz-transition: opacity 3s ease-in-out;
    //     -ms-transition: opacity 3s ease-in-out;
    //     -o-transition: opacity 3s ease-in-out;
    //      opacity: 1;
    // }
    //
    // .no-Background {
    //     animation: noBg 0.1s ease both;
}

.navBtn {
    background-color: white;
    width: 60px;
    height: 60px;
    float: right;
}

.bottomNav {
   // display: none;
   // min-width: 210px;
   // width: 100%;
   animation: moveToRight 5s ease both;
   background-color: $navBtmColor;
   bottom: 97px;
   color: white;
   margin: 0 auto;
   max-width: 200px;
   min-height: 100px;
   overflow: auto;
   overflow: hidden;
   position: fixed;
   right: 0;
   text-align: right;
   transition: width 5s;
   width: 0;
   z-index: 1;
  }

.change2 {
  // -moz-animation: fadein 2s; /* Firefox */
  // -o-animation: fadein 2s; /* Opera */
  // -webkit-animation: fadein 2s; /* Safari and Chrome */
  // -webkit-transform: rotate(50deg) translate(-10px, -8px);
  // transform: rotate(50deg) translate(-10px, -8px);
  // animation: fadein 2s;
  // background-color: green;
  display: block;
  width: 200px;
  animation: moveFromRight 5s ease both;
}

.sideMenu {
    animation: moveFromRight 2s ease both;
}

@keyframes moveFromRight {
    from { transform: translateX(100%); }
}

@keyframes moveToRight {
    to { transform: translateX(100%); }
}
