/* Wait animations */

.waitWheel img {
    border-radius: 240px;
}


.waitWheel {
    background-color: black;
    border-radius: 240px;
    height: 50px;
    margin: 0 auto;
    width: 50px;
}
